@import "../../_globalColor";

.main {
  width: 100%;
  margin: 0px auto;
  padding: 0;
}

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  // margin-left: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1;
}

.skills-text-container {
  line-height: 1.5;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}

.dark-mode {
  background-color: transparent;
  color: white;
  transition: "0.1s";
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }

  .skills-main-div {
    flex-direction: column;
  }

  .skills-text-div {
    margin-left: 0px;
  }

  .skills-text {
    font-size: 16px;
  }

  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
