body {
  font-family: 'Poppins', sans-serif;
  background-image: url(https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header-section {
  width: 80%;
  margin: auto;
}

.text-center {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.font-semibold {
  font-weight: bold;
}

.input-section {
  width: 60%;
  margin: auto;
  display: flex;
  gap: 7px;
}

#text {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border-width: 0px;
  outline: 0px;
}

#generate-button {
  border-radius: 5px;
  border-width: 0px;
  background-color: skyblue;
  cursor: pointer;
}

#image-container {
  display: grid;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;  
}

#image-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  top: 180px;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .header-section {
    width: 90%;
  }

  .input-section {
    width: 80%;
  }

  #image-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .loader {
    top: 50px;
  }

}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .header-section {
    width: 90%;
  }

  .input-section {
    width: 80%;
  }

  .loader {
    top: 80px;
  }
}