.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.book {
  width: 250px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
}